body {
  background-color: #f1f1f7;
}
img {
  width: 100%;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #6a61c0;
}

.btn-purple {
  background-color: #8981d8;
  color: #fff;
  transition: ease 0.2s;
}
.btn-purple:hover {
  background-color: transparent !important;
  color: #8078cb;
  border: 2px solid rgba(128, 120, 203, 0.8);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1) !important;
}

.btn-reset {
  background-color: rgb(248, 145, 11);
  color: #fff;
}
.btn-reset:hover {
  background-color: rgb(238, 135, 0);
  color: #fff;
}

.project-item .card {
  border: 0.5px solid rgb(230, 230, 230);
  border-left: 4px solid #8078cb;
  /* box-shadow: 0px 1px 2px rgb(192, 192, 192); */
}

.project-item .card:hover {
  box-shadow: 0 0.2rem 1rem rgba(70, 70, 70, 0.15) !important;
  background-color: rgb(250, 250, 250) !important;
}

.board {
  color: rgb(1, 104, 56);
  border: 1.5px solid rgba(1, 104, 56, 0.4);
}

.board:hover {
  cursor: pointer;
  background-color: rgb(7, 141, 78);
  color: rgb(238, 255, 248);
}

.update {
  color: rgb(2, 108, 179);
  border: 1.5px solid rgba(2, 108, 179, 0.4);
}

.update:hover {
  cursor: pointer;
  background-color: #0877c2;
  color: rgb(238, 243, 255);
}

.delete {
  color: rgb(206, 8, 8);
  border: 1.5px solid rgba(206, 8, 8, 0.4);
}

.red {
  color: rgb(206, 8, 8);
}

.red:hover {
  cursor: pointer;
  opacity: 0.8;
}

.delete:hover {
  cursor: pointer;
  background-color: rgb(218, 39, 39);
  color: rgb(255, 234, 234);
}

.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.bg-transparent {
  background-color: transparent;
}

.task-card {
  background-color: rgb(255, 255, 255);
}
.task-card:hover {
  background-color: rgb(250, 250, 250) !important;
}
